name: dev-action
on: [pull_request]
jobs:
 validate-setup:
    runs-on: ubuntu-latest
    steps:
    - name: Check go version
      run: go version
    - name: Check terraform version
      run: terraform version
    - name: Create terraform cli config
      run: printf '%s\n' 'credentials "app.terraform.io" {' 'token = "my-tokenâ€' '}' > .terraformrc   && sed -i -e "s/my-token/$TFE_TOKEN/g" .terraformrc
      env:
        TFE_TOKEN: ${{ secrets.TFE_MIYAZAKI_TOKEN }}
    - name: Checkout public repo
      uses: actions/checkout@master
    - name: List file
      run: ls -al
    - name: See the workspace
      run: echo $GITHUB_WORKSPACE
    # - name: Init terraform
    #   run: terraform init -input=false 
    #   env:
    #     TF_IN_AUTOMATION: true
    #     TF_WORKSPACE: Dev

#  deploy-terraform:
#     needs: validate-setup
#     runs-on: ubuntu-latest
#     steps:
#     - name: Checkout public repo
#       uses: actions/checkout@master
#     - name: Run go code
#       run: go run main.go
    