name: dev-action
on: [pull_request]
jobs:
 validate-setup:
    runs-on: ubuntu-latest
    steps:
    - name: Check go version
      run: go version
    - name: Check terraform version
      run: terraform version
    - name: Create terraform cli config
      run: printf '%s\n' 'credentials "app.terraform.io" {' 'token = "my-tokenâ€' '}' > .terraformrc   && sed -i -e "s/my-token/$TFE_TOKEN/g" .terraformrc
    - name: List file
      run: ls -al

#  deploy-terraform:
#     needs: validate-setup
#     runs-on: ubuntu-latest
#     steps:
#     - name: Checkout public repo
#       uses: actions/checkout@master
#     - name: Run go code
#       run: go run main.go
    